<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is Apparao {{pageTile}}</title>
</head>
<body>
{{> header}}
    <h1>{{screamIt 'This is first header'}}</h1>
    <p>some text here</p>
 {{> footer}}

    </body>
</html>