<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is Maintenance page {{pageTile}}</title>
</head>
<body>
{{> header}}
<h1>{{screamIt 'This site under construction'}}</h1>
<p>some text here</p>
{{> footer}}

</body>
</html>